/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.header {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: clamp(668px, calc(444.8px + 60.27vw), 1024px);
  max-height: clamp(668px, 90dvh, 1024px);
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 0;
  position: relative;
}

.decorated-zone {
  position: relative;
  overflow: hidden;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--theme-color);
  border-left: 1px solid var(--theme-color);
}

/* REC */
.header__rec {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  color: var(--accent-color);
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 10px;
  right: 38px;
  box-sizing: border-box;
  align-self: center;
  justify-self: end;
}

.theme_dark .header__rec {
  display: inline-block;
}

.header__rec::before {
  content: "";
  top: 18px;
  inset-inline-end: 10px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

/*кнопки*/
.header__theme-menu {
  grid-row: 1;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 75px;
  width: 70px;
}

.header__theme-menu-list {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {

}

button {
  border: none;
  background: none;
  padding: 0;
}

.header__theme-menu-button {
  height: 26px;
  width: 70px;
  border: none;
  background: transparent;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
 
}

.header__theme-menu-button:hover {
  background: transparent;
  border: 1px solid var(--accent-color-soft);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  text-decoration: underline 1px solid var(--accent-color);
  text-underline-offset: 3px;
}

.header__theme-menu-button:disabled {
  cursor: default;
}

.header__theme-menu-button_type_auto {

}

.cover__title {
  grid-row: 2;
  text-align: left;
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-inline: clamp(0px, calc(10px - max(0px, 100vw - 375px) * 0.02545), 10px);
}

.cover__description {
  max-width: clamp(355px, calc(50vw - 20px), 491px);
  grid-row: 3;
  align-self: center;
  margin-inline: clamp(10px, calc(10px + (100vw - 375px) * 0.0254), 20px);
  box-sizing: border-box;
  transform: translateY(-10px);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  width: fit-content;
}

/*контент*/
.section {
  padding-inline: clamp(10px, calc(10px + (100vw - 375px) * 0.0254), 20px);
  display: grid;
}

.section__spacing-normal { 
  padding-block-start: 40px; 
  padding-block-end: 0; 
}

.section__spacing-extra  { 
  padding-block-start: 50px; 
  padding-block-end: 0;
}

.section__header { 
  grid-column: 1; 
}

.section__content { 
  display: grid; 
}

.section__title,
.section__subtitle,
.section__subtitle_generic,
.section__subtitle__bullet,
.section__subtitle__gallery {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section__title {
  color: var(--accent-color);
}

.section__subtitle {
  background-color: var(--accent-color);
  color: var(--bg-color);
  margin-top: 20px;
  margin-bottom: 10px;
  outline: 2px solid #30d5c8; 
}

.section__subtitle_generic {
  background-color: var(--accent-color);
  color: var(--bg-color);
  margin-top: 20px;
  margin-bottom: 0;
}

.section__title__bullet {
  color: var(--accent-color);
}

.section__subtitle__bullet {
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section__text {
  width: 100%;
  max-width: none;
  color: var( --text-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0;
  font-size: 18px;
  outline: 2px solid #19ff19; 
}

.section__content__special {
  display: grid;
  grid-column: 1 / -1;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color); 
}

.content__link:hover {
  text-decoration: underline 1px solid var(--text-color);
  text-underline-offset: 2px;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
  text-decoration: none;
}

/*галерея*/
.gallery {
  max-width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: span 3;
}

.section__subtitle__gallery {
  background-color: var(--accent-color);
  color: var(--bg-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: span 3;
  gap: 10px;
}

.gallery__item {
  overflow: hidden;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*подвал*/
.footer {
  height: 668px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  padding-left: 14px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  line-height: 0.83;
  text-transform: lowercase;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
