/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

.page {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
}

:root {
  --bg-image: none;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --theme-color: #353430;
}

/* мобильные (основной макет 375 × 668) */
@media screen and (max-width: 375px) {
  .page {
    width: 100vw;
    overflow-x: hidden;
  }
}

/*@media (max-width: 767px) {
  .cover__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (max-width: 767px) {
  .gallery__list {
    grid-template-columns: 1fr;
  }
}*/

/* планшет и десктоп */
@media (min-width: 768px) {
  /*.cover__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }*/

  .header {
    max-height: 100vh;
    padding: 0;
  }

  .header__rec {
    top: 20px;
    right: 48px;
    margin-inline-end: 0;
  }

  .header__rec::before {
    top: 20px;
    inset-inline-end: 10px;
  }

  .header__theme-menu {
    margin-top: 192px;
    justify-self: end;
    margin-inline: clamp(10px, calc(10px + (100vw - 375px) * 0.0254), 20px);
  }

  .decorated-zone::before {
  top: 20px;
  right: 20px;
  }

  .decorated-zone::after {
  bottom: 20px;
  left: 20px;
  }

  .cover__title {
    align-self: center;
    font-size: 120px;
  }
  
  .cover__description {
    justify-self: end;
    align-self: center;
    transform: translateY(-10px);
  }

 .section { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
 }

  .section__header { 
    grid-column: 1; 
  }

  .section__content { 
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 2 / 4;
}

  .section__subtitle,
  .section__text {
    margin: 0;
  }

  .content-group {
    display: flex;
    flex-direction: column;
}

  .section__content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* между группами */
}

  .section__spacing-normal { 
    padding-block-start: 60px; 
  }

  .section__subtitle {
    margin-top: 0;
    margin-bottom: 10px;
 }

  .section__spacing-extra {
    padding-block-start: 80px; 
    padding-block-end: 0; 
  }

  .section__special {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    max-width: 100%;
  }

  .section__header__special {
    text-align: left;
    grid-row: 1;
  }

  .section__content__special {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }

  .section__subtitle_generic {
    margin-top: 0;
  }

  .section__subtitle__bullet {
    margin-top: 0;
}

  .gallery {
    max-width: none;
    padding: 40px 80px;
  }

   .section__gallery { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
  }
  
  /*.gallery__list {
    grid-template-columns: 1fr;
  }
  
  .gallery__item:nth-child(1) .gallery__image,
  .gallery__item:nth-child(3) .gallery__image {
    height: 200px;
  }
  
  .gallery__item:nth-child(2) .gallery__image,
  .gallery__item:nth-child(4) .gallery__image {
    height: 240px;
  }*/
  
  .section__subtitle__gallery {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 0;
  }

  .gallery {
    display: contents;
    grid-row: 2;
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
    grid-auto-flow: row dense;
  }
  .gallery__list {
    /*display: contents; 
    margin: 0;
    padding: 0;
    list-style: none;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 180px;
    gap: 20px;
    }

  .footer__title {
  padding-left: 0;
  }

}

@media (min-width: 1024px) {
   .cover__title {
    margin-bottom: 50px;
    justify-self: start;
    align-self: center;
  }

  .cover__description {
    margin-block-start: 34px;
    margin-bottom: 114px;
  }

  .header__theme-menu {
    grid-row: 1;
    width: 230px;
    margin-block-start: 20px;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }

  .header__theme-menu-button {
    flex: 1;
    min-width: 70px;
  }

  .header__theme-menu-button_type_dark {
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
  }

  /*.title-decor {
    /* ширина блока меняется относительно планшета 
    max-inline-size: 491px;
  }*/
}